name: Build

on:
  pull_request:
    branches: [ master ]

jobs:

  build_only:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Build and Test
        run: |
          DOCKER_BUILDKIT=1 docker build -o output -f Dockerfile_build .
